apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: auth-service-pdb
  namespace: auth-service
  labels:
    app: auth-service
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: auth-service